  <div class="wrapper">
    <h2>Registrar</h2>
    <form action="/register" method="post">
      <div class="input-box">
        <input type="text" name="name" placeholder="Seu nome" required>
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="Seu email" required>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Crie uma senha" required>
      </div>
      <div class="input-box">
        <input type="password" name="confirmpassword" placeholder="confirme sua senha" required>
      </div>

      <div class="input-box button">
        <input type="Submit" value="Registrar">
      </div>
      <div class="text">
        <h3>Já tem conta?<a href="/login"> faça login</a></h3>
      </div>
    </form>
  </div>
